django>=5,<6
djangorestframework
drf-spectacular
django-environ
dj-database-url
celery
redis
psycopg[binary]
django-prometheus
gunicorn
razorpay
reportlab
qrcode[pil]
-e ../../shared/libs/suerp_common

# Test tooling
pytest
pytest-django
